#loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.signup-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[name="name"],
input[name="email"],
input[name="password"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}nname
#cnameeAccountContainer {
    display: none;
}

#content_container {
    display: none;
}

.card{
    margin: 10px;
    padding: 5px;
}

.card-userInfo{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 4px;
    justify-content: space-between;
    background-color: aliceblue;
    font-weight: normal;

}

.card-title{
    font-weight: bold;
}